<a href="https://colab.research.google.com/github/Rizwan-Ahmed-Surhio/Accountants/blob/main/Python_for_Accountants_II_Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Best Performing Product by Profit Margin

In [1]:
import pandas

#### Access the Data File

In [2]:
url = 'https://raw.githubusercontent.com/Rizwan-Ahmed-Surhio/Accountants/main/5000%20Sales%20Records.csv'
df = pandas.read_csv(url)

In [3]:

#define function and its names i.e. profit margin and input data

def profit_margin(df):
   
  # Create two empty list one that saves names of the product and other that saves profit margin numbers(%) after running the loop.
   names = []
   margins = []

   # extract products names from the database
   products = df['Item Type'].unique()
  
  #start a loop and pick a product from a list of products 
   for a in products:

        # search the product in the database 
        seleted_product= df.loc[df['Item Type'] == a]
        
        ###save product name in an empty list names using append method so we can use this list later on when creating a dataframe
        ### so we know margin relates to which product.
       
        names.append(a)
    
        ### calculate profit margin and similar to above save the margin number in margin list
        margins.append(round(seleted_product['Total Profit'].sum() / seleted_product['Total Revenue'].sum() * 100,3))
        
   # Now we are outside of loop
   ## Create an empty data frame name margin_df and created two columns based on two lists created above.
   margin_df = pandas.DataFrame()
   margin_df["Products"] =names
   margin_df["Margins"] =margins

   return (margin_df)

### Use function profit_margin for desired database and save the results in df_products_margins

In [4]:
df_products_margins = profit_margin(df)

In [5]:
df_products_margins

           Products  Margins
0         Baby Food   37.551
1            Snacks   36.138
2         Beverages   33.003
3            Cereal   43.068
4     Personal Care   30.662
5           Clothes   67.204
6   Office Supplies   19.387
7         Cosmetics   39.769
8              Meat   13.558
9            Fruits   25.831
10       Vegetables   40.978
11        Household   24.800

### Sort from highest to lost profit margins to see highest at the top.
##### You can add this line code in the function to give you more refined results.

In [6]:
df_products_margins.sort_values(by=["Margins"], ascending=False)

           Products  Margins
5           Clothes   67.204
3            Cereal   43.068
10       Vegetables   40.978
7         Cosmetics   39.769
0         Baby Food   37.551
1            Snacks   36.138
2         Beverages   33.003
4     Personal Care   30.662
9            Fruits   25.831
11        Household   24.800
6   Office Supplies   19.387
8              Meat   13.558